body{background-color: #fff8ed;
	margin: 0;
}
h1, h2{	text-align: center;
	font-family: mv boli;
	font-size: 32px;
	color: #4c4c4c;
	letter-spacing: 2px;
}
img{width: 100%; position: relative;}
.position1{z-index: 100;
	position: absolute;
	text-align: left;
	top: 140px;
	right: 300px;
	font-family: mv boli;
	font-size: 32px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	color: #4c4c4c;
}
.container{position: relative;}
a {	color: #4c4c4c;
	text-decoration: none;
}
.position2{margin-left: 120px;
	font-family: mv boli;
	font-size: 22px;
	line-height: 2.1;
	color: #4c4c4c;
	}
.position3{position: absolute; 
	top: 230px; 
	left: 410px;
	font-family: mv boli;
	font-size: 21px;
	line-height: 2.1;
	color: #4c4c4c;
	}