@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{background-color: #fff8ed;
	margin: 0;
	overflow-x: hidden;
}
h1, h2{	text-align: center;
	font-family: 'Press Start 2P';
	font-size: 22px;
	color: #a3004c;
	letter-spacing: 2px;
}
.h2a{position: relative;
	top: 5%;
	color: #a3004c;
	text-align: center;
}
.h2b{position: relative;
}
.hgame{font-size: 20px;
	color: #00bda7;
}
.descr{font-size: 17px;
	}
.git{color: #2b2ba2;
	font-size: 20px;
	}
img{width: 100%;
	position: relative;
}
.img1{width: 48%;
	display: block;
	margin: 0 auto;
}
.exp{width: 68%;
	display: block;
	margin: 0px auto;
}
.position1{z-index: 100;
	position: absolute;
	text-align: left;
	top: 30%;
	right: 15%;
	font-family: 'Press Start 2P';
	font-size: 22px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	color: #a3004c;
}
.img2{position: relative;
	text-align: center;
	width: 48%;
	display: block;
	margin: 0 auto;
}
.img3{position: relative;
	width: 16%;
	float: right;
	margin-right: 17%;
}
.img4{position: static;
	width: 20%;
	float: left;
	margin-top: 1%;
	margin-left: 8%;
	margin-right: 3%;
}
.img5{position: relative;
	width: 2.5%;
	left: 13%;
	margin-top: 1.5%;
}
.img6{position: relative;
	width: 7.5%;
	margin-left: 63%;
	margin-top: -2%;
}
.img7{position: static;
	width: 6%;
	margin-left: 67%;
	margin-top: -7%;
}
.container1{position: relative;
	text-align: center;
	margin-top: -60%;
}
.container2{position: relative;
}
a {	color: #a3004c;
	text-decoration: none;
}
.position2{margin-left: 15%;
	margin-right: 15%;
	font-family: 'Press Start 2P';
	font-size: 16px;
	line-height: 2.1;
	color: #a3004c;
	}
.position3{position: relative;
	width: 60%;
	text-align center;
	display: block;
	margin: 0 auto;
	font-family: 'Press Start 2P';
	font-size: 14px;
	line-height: 2.1;
	color: #a3004c;
	}
.position4{position: static; 
	margin-left: 15%;
	font-family: 'Press Start 2P';
	font-size: 16px;
	line-height: 2.1;
	color: #a3004c;
	}
.position5{position: relative; 
	font-family: 'Press Start 2P';
	font-size: 16px;
	line-height: 2.1;
	color: #a3004c;
	}
.position6{position: relative; 
	font-size: 16px;
	margin-top: -7%;
	left: 35%;
	font-family: 'Press Start 2P';
	line-height: 2.1;
	color: #a3004c;
	}
.position7{position: static; 
	margin-top: 19%;
	height: 100px;
	font-family: 'Press Start 2P';
	font-size: 24px;
	line-height: 2.1;
	color: #a3004c;
	}
.last{position: relative; 
	font-family: 'Press Start 2P';
	font-size: 16px;
	line-height: 2.1;
	color: #a3004c;
}
#certificates{margin-top: 12%;
	margin-bottom: 15%;
}
#contacts{z-index: 100; 
	position: relative; 
	margin-top: 9%;
	left: 50%;
	transform: translateX(-50%);
}
#thx{position: static; 
	font-size: 16px;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 10%;
}
.end{position: static;
	font-size: 6px;
	font-family: 'Press Start 2P'; 
	text-align: right; 
	margin-top: 2%;
	margin-right: 1%;
}



@media(max-width: 768px){
	body{background-color: #fff8ed;
	margin: 0;
}
h1, h2{	font-size: 12px;
}
.h2a{	top: 1%;
}
.position1{top: 15%;
	right: 15%;
	font-size: 10px;
	}
.position2{margin-left: 10%;
	margin-right: 10%;
	font-size: 10px;
	}
.hgame{
	font-size: 12px;
}
.descr{font-size: 10px;
	}
.git{color: #2b2ba2;
	font-size: 11px;
	}
.position3{font-size: 9.5px;
	width: 70%;
	}
.exp{width: 95%;
	margin-top: 13%;
	}
.container1{margin-top: -95%;
	}
.position4{font-size: 9px;
	margin-left: 10%;
	margin-right: 10%;
	}
.position5{font-size: 9px;
	margin-right: 3%;
	margin-top: -3%;
	}
.position6{font-size: 10px;
	margin-top: -4%;
	left: 32%;
	line-height: 1.5;
	}
.last{position: static;
	font-size: 9px;
	margin-top: -3.5%;
	}
#certificates{margin-top: 5%;
}
.img6{margin-top: -10%;
	margin-left: 75%;
	width: 10%;
}
#contacts{margin-top: 10%;
}
#thx{font-size: 8px;
	width: 70%;
	margin-top: -4%;
}
}